/vagrant/docker/.vagrant
/vagrant/elk/.vagrant
/vagrant/jenkins_sonar/.vagrant
/vagrant/omd/.vagrant
/vagrant/postgres/.vagrant
/Build/employee/supervisord.pid
/Build/employee/.logstash-forwarder.new
/Build/employee/supervisord.log
/Build/organisation-web/supervisord.log
/Build/organisation-web/supervisord.pid
/Build/organisation-web/.logstash-forwarder.new
/Build/project/supervisord.pid
/Build/project/.logstash-forwarder.new
/Build/project/supervisord.log
/Build/project-assignment-service/supervisord.pid
/Build/project-assignment-service/.logstash-forwarder.new
/Build/project-assignment-service/supervisord.log
/docker/roles/base/logstash-forwarder.crt
/.project
/Build/device-authentication-service/supervisord.log
/Build/device-authentication-service/supervisord.pid
/Build/device-authentication-service/.logstash-forwarder
/Build/employee/.logstash-forwarder
/Build/organisation-web/.logstash-forwarder
/Build/project/.logstash-forwarder
/Build/project-assignment-service/.logstash-forwarder
/rsakey/jenkins/id_rsa.pub
